* {
    font-family: 'Courier New', Courier, monospace;
}

.sidebar {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(235, 235, 235);
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
    color: #c89d9d;
}

/* Style the main content */
main {
    margin-left: 190px;
    /* Same as the width of the sidenav */
    padding: 20px 10px;
}
img {
   width: 90%;
   margin-left: 0.5em;
   margin-right: 0.5em;
   border-radius: 30px;
}

h1, h2, h3 {
    text-align: center;
}

.grey-section {
    background-color: rgb(243, 243, 243);
}
#projects-header {
    color: rgb(122, 114, 114);
}
button {
    margin: 1em;
}
/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

